html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/admin_bg.jpg);
}
.container-fluid {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.container {
    padding-bottom: 100px;
}
.footer {
    height: 20%;
    margin-top: -100px;
    text-align: center;
    background: #999;
}
.header {
    background-image: url(../images/header.jpg);
    height: 10%;
    margin-bottom: 10px;
    text-align: center;

}