body
        {
            background-image:url(../images/back.jpeg);
            background-repeat: no-repeat;
            background-attachment:fixed;
            background-position:center;
            background-size: cover;
    height: auto!important;
    position: relative;
        }
        #content
        {
            background-color: rgba(255,255,255,0.7);
        }
table {

    width: 100%;
    border-spacing: 7px 11px;
   }

    a.rollover {
    background: url(../images/one.jpg);
    display: block;
    width: 300px;
    height: 225px;

   }
   a.rollover:hover {
    background: url(../images/one2.jpg);
   }
 
   a.rollover1 {
    background: url(../images/two.jpg);
    display: block;
    width: 300px;
    height: 225px;
   }
   a.rollover1:hover {
    background: url(../images/two2.jpg);
   }
  
   a.rollover2 {
    background: url(../images/three.jpg);
    display: block;
    width: 300px;
    height: 225px;
   }
   a.rollover2:hover {
    background: url(../images/three2.jpg);
   }

   textarea{
       width:90%;float:none;height:50%;
   }
#footer {
    background-color: rgba(255,255,255,0.7);
    height: 2.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
}
   #fio
   {
       width: 530px;
   }

   
