/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 20px auto -20px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
/*#footer {*/
    /*height: 70px;*/
    /*padding-bottom: 10px;*/
    /*background-color: #f5f5f5;*/
/*}*/



.footerButtons {
    color: inherit;
    text-decoration: inherit;
}

.navbar .nav > li > a {
    float: none;
    line-height: 23px;
    padding: 9px 10px 11px;
    text-shadow: none;
    text-decoration: underline;
    color:  #ffffff;
}

.navbar .nav > li > a.loginButton{
    float: none;
    line-height: 23px;
    padding: 9px 10px 11px;
    text-shadow: none;
    text-decoration: underline;
    color:  #0044cc;
}