<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean id="validationConverter"
          class="net.github.rtc.util.converter.Converter"/>
    <bean id="validationContext"
          class="net.github.rtc.util.converter.ValidationContext">
        <constructor-arg index="0" name="converter" ref="validationConverter"/>
        <constructor-arg index="1" name="packagePath"
                         value="net.github.rtc.app.model"/>
    </bean>

    <util:map id="serviceHolder" map-class="java.util.HashMap">
        <entry>
            <key>
                <value type="java.lang.Class">net.github.rtc.app.model.user.User</value>
            </key>
            <ref bean="userService"/>
        </entry>

        <entry>
            <key>
                <value type="java.lang.Class">net.github.rtc.app.model.course.Course</value>
            </key>
            <ref bean="coursesService"/>
        </entry>
    </util:map>
</beans>
