<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--Jobs-->
    <bean id="userExportJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="userExportTask" />
        <property name="targetMethod" value="exportData" />
    </bean>


    <bean id="courseExportJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="courseExportTask" />
        <property name="targetMethod" value="exportData" />
    </bean>

    <!--Triggers-->
    <bean id="userExportTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="userExportJob" />
        <property name="cronExpression" value="0 0/30 * * * ?" />
    </bean>

    <bean id="courseExportTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="courseExportJob" />
        <property name="cronExpression" value="0 0/30 * * * ?" />
    </bean>



    <!--Scheduler-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="userExportTrigger" />
                <ref bean="courseExportTrigger" />
            </list>
        </property>
    </bean>

</beans>
