<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--Job Details-->
    <bean id="userExportJobDetails" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="net.github.rtc.app.export.ExportJob" />
        <property name="jobDataAsMap">
            <map>
                <entry key="aClass"  value-type="java.lang.Class" value="net.github.rtc.app.model.user.User" />
                <entry key="service"   value-ref="userService"  />
                <entry key="reportName"  value-type="java.lang.String" value="users" />
                <entry key="reportPath"  value-type="java.lang.String" value="${user.export.path}" />
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>


    <bean id="courseExportJobDetails" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="net.github.rtc.app.export.ExportJob" />
        <property name="jobDataAsMap">
            <map>
                <entry key="aClass"  value-type="java.lang.Class" value="net.github.rtc.app.model.course.Course" />
                <entry key="service"   value-ref="coursesService"  />
                <entry key="reportName"  value-type="java.lang.String" value="courses" />
                <entry key="reportPath"  value-type="java.lang.String" value="${course.export.path}" />
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>

    <!--Triggers-->
    <bean id="courseExportTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="courseExportJobDetails" />
        <property name="cronExpression" value="0 0/30 * 1/1 * ? *" />
    </bean>

    <bean id="userExportTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="userExportJobDetails" />
        <property name="cronExpression" value="0 0/30 * 1/1 * ? *" />
    </bean>

    <!--Scheduler-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="userExportTrigger" />
                <ref bean="courseExportTrigger" />
            </list>
        </property>
    </bean>

</beans>
